body {
    padding: 0;
    margin: 0;
    background-color:  rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
header {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding: 10px 0;
}
  
main {
    margin: 30px 30px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
  
main p {
    margin-right: 20px;
    text-wrap: balance;
    margin-left: 10%;
}
  
main img {
    width: 100%;
    min-width: 500px;
    height: auto;
    border-radius: 5px;
    margin-right: 10%;
}
  
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 15px;
}
  
@media (max-width: 768px) {
    main {
      flex-direction: column;
    }   
  
    main p {
      margin-right: 0px;
      margin-bottom: 50px;
    }
}